[2012-10-19 16:48] michahoiting opened #1 "Add support for the ellipsis operator (...)"
Fff is a great and elegant tool to unit test (embedded) c code, but I have some APIs that use the ellipsis operator to pass variable number of arguments. I have made some modifications to fff.h to handle '...' as the last parameter.

I have an initial concept to handle minimal vararg functionality with fakes, see https://gist.github.com/4037531
In a second approach I would design it such that the

[2012-11-07 21:13] siliconarm opened #2 "Functions with more than 10 parameters"
Hi! This is an amazing project, congratulations!

I have some functions with 15 or more parameters (legacy code nightmare) I tried rebuild the header changing $MAX_ARGS in ruby script, but it doesn't work, the new header file includes new macros for support this functions but FAKE_VOID_FUNC mapping doesn't work and i must call FAKE_VOID_FUNC15 direcly.

 In other side, support for the ellipsis ope

[2012-11-08 11:05] michahoiting opened #3 "Add support for fakes with const parameters"
Using a fake function that has a const parameter leads to compiler errors.
For instance using a fake for the function ‘strlcpy’ see below.
- fff_test_cpp.cpp:`
  FAKE_VALUE_FUNC(int, strlcpy3, char* const, const char* const, const size_t);`
- test_cases.include:`
  TEST_F(FFFTestSuite, when_fake_func_called_then_const_arguments_captured)
  {
      char dst[80];
      strlcpy3(dst, __FUNCTION__, si

[2013-06-23 14:39] #3 closed, assigned to nobody

[2013-06-23 14:41] #1 closed, assigned to nobody

[2013-06-26 13:37] #2 closed, assigned to meekrosoft

[2013-06-29 02:29] gsrunion opened #4 "Question that might need to be addressed in the wiki."
When using a fake void function such as

FAKE_VOID_FUNC(getTime, Time*);

where a value is "returned" via reference how would fff handle this?

Sorry if this is not the appropriate place to ask.

[2014-01-07 17:42] johnteslade opened #5 "Code License"
What license is this code released under?

This is a great framework and I'd like to use it for unit testing.  But I can't get it into my company's development environment unless I know the license terms.

[2014-01-09 14:06] #5 closed, assigned to nobody

[2014-01-09 14:06] #4 closed, assigned to nobody

[2014-01-21 17:09] jverce opened #6 "Unable to mock ioctl"
Hello,
I am trying to create a fake for the ioctl function, but I'm getting the following error when compiling (but not linking) my test.cpp file:
$ g++ -c -I../ -I$GTEST_DIR/include/ test.cpp
test.cpp:12:22: error: 'ioctl' has not been declared
test.cpp:12:64: error: expected constructor, destructor, or type conversion before ';' token

Line 12 of the test.cpp file contains the following:
FAKE_VA

[2014-01-21 17:23] #6 closed, assigned to nobody

[2014-01-31 18:33] jverce opened #7 "Unable to mock static inline functions"
Hi there,
I am trying to mock a couple of functions from the linux/i2c-dev.h header, which declaration is as follows:

static inline __s32 i2c_smbus_write_word_data(int file, __u8 command, __u16 value) { ... }
static inline __s32 i2c_smbus_write_word_data(int file, __u8 command, __u8 value) { ... }

Unfortunately, FFF doesn't seem to be taking my mocks as valid mocks for these functions calls. I a

[2014-02-04 13:56] #7 closed, assigned to nobody

[2015-07-12 15:46] JonJagger opened #8 "memcpy() memset() without #include <string.h>"
Hi Mike,
fff.h has calls to memcpy() and memset without preceeding protoypes...
Cheers
Jon

[2016-04-08 07:10] CiderMan opened #9 "EXTERN_C clashes with macro of same name in winnt.h"
We have a few files in our unit-tests that need fff.h but also need to include windows.h. Unfortunately, both define a macro EXTERN_C so we get warnings about macro redefinitions:

C:\Program Files (x86)\Microsoft Visual Studio 8\VC\PlatformSDK\include\winnt.h(359) : warning C4005: 'EXTERN_C' : macro redefinition
        W:\dyn_view\common\interface\unittest/fff.h(86) : see previous definition of

[2016-04-08 09:43] meekrosoft commented on #9
This is a great idea!  Could you send me a pull request an I will integrate it in fff

[2016-04-08 10:24] CiderMan commented on #9
Thanks Mike. Since this is an issue at work, I'm just confirming that I can assign IP/copyright for this change before I start. (Currently I've only patched fff.h, not the generation script.)
I assume that I just need to update the .rb file, install Ruby and confirm that it produces a usable fff.h?

[2016-04-08 11:46] CiderMan commented on #9
You have a pull request!

[2016-05-16 18:08] meekrosoft commented on #9
Great, thanks so much!

On Fri, Apr 8, 2016 at 1:46 PM, CiderMan <notifications@github.com> wrote:

[2016-06-11 22:30] jetm opened #12 "Will exist a version fff release?"

[2016-06-29 15:35] frankbenoit opened #13 "Have the option to make the fakes static functions"
Hi

to have the testing code in different modules and not having the need to think about unique names, it would be good to have a way to make the fakes static function.

[2016-06-29 16:07] frankbenoit opened #14 "Support for creating testing seams"
Hi

i would like to have `fff` to support the dynamic exchange of the functions.

Lets say i have a function `foo+bar` and i want to replacy it with my fakes called `fooTest+barTest`. Then i would like to have expanded code like this:

In case for working with unittesting, i set the #define UNIT_TESTING
header:

    extern void (*foo_TestPtr)( int a );
    void foo( int a );
    extern int (*bar_T

[2016-06-29 21:13] frankbenoit commented on #13
Or the option to use the separated DECLARE_ and DEFINE_ macros.
Currently the DECLARE_ macro is missing the functions prototype. So it is not possible to but the fakes into a separated modules and have them globally available.
E.g.:

#define DECLARE_FAKE_VOID_FUNC1(FUNCNAME, ARG0_TYPE) \
    FFF_EXTERN_C \
        typedef struct FUNCNAME##_Fake { \
            DECLARE_ARG(ARG0_TYPE, 0, FUNCNAME) \

[2016-07-04 14:04] meekrosoft commented on #12
What do you mean by release?  You can find the latest up to date version here:
[https://github.com/meekrosoft/fff/blob/master/fff.h](https://github.com/meekrosoft/fff/blob/master/fff.h)

[2016-07-04 14:04] #12 closed

[2016-07-04 15:53] jetm commented on #12
I mean by a release a tarball to download from https://github.com/meekrosoft/fff/releases. But I guess downloading https://github.com/meekrosoft/fff/blob/master/fff.h will be the latest stable version.

[2016-07-06 09:39] meekrosoft commented on #12
Yes @jetm that is I think the best approach.  I have set up travis ci builds to automatically run the test suite for every change on master so you can be sure that it is working before you use it.

[2016-09-23 08:26] #9 closed

[2016-09-23 18:31] CiderMan commented on #8
We've also just bumped into this so I've created a pull request for the fix. Cheers!

[2016-09-25 18:33] meekrosoft commented on #8
Thanks @CiderMan !  Merged!

[2016-09-25 18:33] #8 closed

[2017-01-21 18:45] usr42 commented on #14
Hi Frank,

the custom_fake function pointer provided by FFF allows you to dynamically change the function used for your tests: [Custom Return Value Delegate](https://github.com/meekrosoft/fff#custom-return-value-delegate)
You can also use the custom_fake for void functions.

Is that what you are looking for or am I missing something?

Balthasar

[2017-01-23 13:56] dmcminniwc opened #21 "(Feature request) Change call_history type to a function pointer"
Could fff be changed so that instead of `fff_globals_t.call_history` being an array of void pointers it is an array of function pointers? The reason for asking is that I am using fff in an embedded project which uses IAR for msp430, although I think you'd come across this with other compilers/architectures too. The particular processor architecture I'm using can address 20 bits but the data pointe

[2017-01-23 16:27] usr42 commented on #21
Hi dmcminniwc,

I created a branch to address your issue:
https://github.com/usr42/fff/tree/issue21

Can you check if this is working for you? If yes I'll open a pull request to merge it to meekrosoft's repository.

Best regards,
Balthasar

[2017-01-23 16:37] dmcminniwc commented on #21
Yes, that is working for me.

[2017-01-23 16:41] dmcminniwc opened #22 "Parameter for UnityPrintFloat() different between declaration and definition"
In unity.c `UnityPrintFloat` is defined as `void UnityPrintFloat(UNITY_DOUBLE number)` but it is declared in unity_internals.h as `void UnityPrintFloat(const UNITY_DOUBLE number)`. The parameter is marked as `const` in the header and not in the source which results in a compile time warning from MSVC at least. Please use const in the source as well as the header.

[2017-01-23 21:18] frankbenoit commented on #14
Perhaps I am missing something :-)

I use FFF to fake functions. But I need the pattern above to switch the sources between real-func and faked-func.

I have 3 cases:
1. compiled production code, which shall be just the functions (UNIT_TESTING is not defined)
2. compiled testing code, but the function is not faked (UNIT_TESTING is defined)
3. compiled testing code, the function is faked by replaci

[2017-01-24 15:53] usr42 commented on #14
Ok, now I got the point.
I am currently working on a solution for that, which uses gcc's linker option --wrap to wrap functions. I added additional macros to fff which generates the __wrap_* fakes with fff and let these fakes use the __real_* function by default. You can then generate fff-fakes which still use the real function. And you can still spy on the function calls and parameters. Or for so

[2017-01-24 16:00] usr42 commented on #13
Hi Frank,

can you please check, if my fix is working for you?

Cheers,
Balthasar

[2017-01-24 16:08] usr42 commented on #22
Is that issue really referring to fff? Or is that issue meant for [Unity](https://github.com/ThrowTheSwitch/Unity) instead?

[2017-01-24 16:36] dmcminniwc commented on #22
Sorry, yes, it's meant to be unity.

[2017-01-24 16:36] #22 closed

[2017-01-24 20:06] usr42 commented on #21
My pull request to fix for issue 13 is not merged yet. So I created a branch fixing your issue (13) without the changes to fix issue 13: https://github.com/usr42/fff/tree/issue21_without_issue13

I'll open a pull request for the cleaned branch.

[2017-01-25 07:49] espenalb commented on #14
I like the gcc `--wrap` concept a lot. Integrating that into fff would be perfect. We cross-compile our embedded code - we use gcc for unit tests and IAR for production code. This means a _little_ extra work, but has the added benefit of ensuring from day zero that our code can cross-compile, which helps us isolate any esoteric IAR specific code.

Do you also have a nice pattern for maintaining th

[2017-01-25 08:58] usr42 commented on #14
I added a simple and not nearly perfect adaptation in the makefile for fff's tests:
[code]
For details see: https://github.com/usr42/fff/blob/wrap_fff/test/Makefile

Is that answering your question?

If you would test my approach/branch and give me feedback, that would be awesome.

[2017-01-26 15:41] dmcminniwc opened #26 "Faking functions that take no parameters should use void in parameter list"
If I use any of the FAKE_*_FUNC0 variants then fff declares functions which take any number of parameters because it uses an empty parameter list. For example, if there is a function `foo` which has no arguments and returns nothing then using `FAKE_VOID_FUNC0(foo);` eventually ends up with a function declaration:

    void foo();

If I have an existing header for the code under test that declares

[2017-01-26 15:56] usr42 commented on #26
That is a good finding. Thanks!
I'm going to fix that and open a pull request.

[2017-01-26 16:47] usr42 commented on #26
Can you please check my pull request, if it is working as intended?
https://github.com/meekrosoft/fff/pull/27

[2017-02-03 19:54] #21 closed

[2017-02-03 19:57] meekrosoft commented on #21
Thanks for the suggestion @dmcminniwc - this was an interesting use case.

+ thanks @usr42 for the implementation.  This has been merged in!

[2017-02-03 20:01] meekrosoft commented on #26
Another great one - thanks both!

[2017-02-03 20:02] #26 closed

[2017-02-06 19:11] usr42 opened #29 "Add documentation and tests for VARARG fakes"
FFF also supports faking VARARG functions, e.g.
`void voidfunc3var(const char *fmt, int argc, ...);`
could be faked with
`FAKE_VOID_FUNC_VARARG(voidfunc3var, char *, int, ...);`

But how to use this is not described in the readme.
Additionally the unit tests for VARARGs are not sufficient. There are no assertions. I think there should be at least be a test for argument capturing. Also the custom_f

[2017-02-06 20:10] usr42 commented on #14
@espenalb Have you already tested the `--wrap` approach?
@frankbenoit Is the `--wrap` approach working for your purpose?

[2017-02-06 20:19] rubiot commented on #29
I just submitted a pull request adding a section in the README explaining how to fake variadic functions. Please check it.

[2017-02-06 20:33] usr42 commented on #29
Thank you! I like the explanation with printf very much.

[2017-02-06 20:38] usr42 commented on #29
@rubiot I just improved the vararg tests. I'll open a pull request to your branch.

[2017-02-06 20:40] usr42 commented on #29
The pull request is open: https://github.com/rubiot/fff/pull/1

[2017-02-06 21:08] rubiot commented on #29
Very nice!

[2017-02-14 19:53] CurtisHx opened #31 "Cannot compile in Visual Studio 2015"
I'm trying to use FFF from within Visual Studio 2015 and VC++, and the example I tried (attached) does not want to compile.  Here's the test file:

[code]
The `FAKE_VOID_FUNC` and `FAKE_VALUE_FUNC` macros are generating the following warning.

Trying to compile generates the following errors, all stemming from the `FAKE_VOID_FUNC` and `FAKE_VALUE_FUNC` macros.

[FFFTestProject.zip](https://github.

[2017-02-15 12:13] CurtisHx commented on #31
Tracking it down further (I don't have a solution yet...), it has to do with the way that the VC++ preprocessor  expands (or lack thereof) of `__VA_ARGS__`.  Of course Microsoft would _have_ to do it differently from everyone else...

[2017-02-15 13:00] CurtisHx commented on #31
It looks like it's a difference in the way GCC and Visual Studio treat `__VA_ARGS__`.  GCC expands `__VA_ARGS___` before passing it into the macro.  Visual Studio expands `__VA_ARGS__` _after_ passing it.

A fix is to force the macro expansion by wrapping macros taking in `__VA_ARGS__` with this macro:

`#define EXPAND (x) x`

For example, the `FAKE_VOID_FUNC` call chain in fff.h goes from

`#defi

[2017-04-27 21:32] gsauthof opened #32 "Macro usage examples yield empty declarations"
Inspired by the documentation in the readme file I created this small test program:

    #include <fff.h>
    DEFINE_FFF_GLOBALS; // WARNING

    FAKE_VALUE_FUNC(double, pow, double, double); // WARNING

    #include <stdio.h>
    #include <stdlib.h>

    int main(int argc, char **argv)
    {
      pow_fake.return_val = 23;
      printf("pow: %f\n", pow(2, atoi(argv[1])));
      return 0;
    }

T

[2017-05-08 15:08] martijnthe opened #33 "Dealing with reference/pointer arguments?"
What's the best way to mock functions that take references/pointer arguments that usually point to temporary (stack allocated) variables? If you have a lot of this in your code, making custom fakes for everything lowers the value of using FFF in the first place...

Can you see a way to support dereferencing pointer arguments and copying the actual values to the history? It would have to be on a pe

[2017-05-11 20:01] gsauthof opened #34 "Readme describes nested function example as standard conforming"
This statement from the README isn't accurate:

in the context of the code example that follows the paragraph:

    // ...
    TEST_F(FFFTestSuite, when_value_custom_fake_called_THEN_it_returns_custom_output)
    {
        Time t;
        Time getTime_custom_now;
        void getTime_custom_fake(Time *now) {
            *now = getTime_custom_now;
        }
       // ...
    }

ISO C99 doesn't spec

[2017-05-22 17:47] shebaw commented on #31
You can explicitly use the numbered functions as a workaround.
Example:
`FAKE_VALUE_FUNC1(void *, malloc, size_t)`

[2017-09-08 07:43] avk2 opened #36 "Multiple definition error"
This is what I have:
[code]

And this is what I get when I build

[code]

[2017-09-17 09:12] dturner commented on #36
Also running into this. My exact linker error message is:

`ld: 1 duplicate symbol for architecture i386`

[2017-09-17 09:37] dturner commented on #36
Think I figured it out. In my case at least, I was linking against the object which I was mocking, as well as the fake.

It looks like you're doing the same thing. Make sure `probe.c.o`is excluded from your unit test binary.

[2017-09-17 18:07] meekrosoft commented on #36
Hi folks,
Yes, the fake will clash with an existing function definition if it is linked in...be sure not to include it in the test binary.
I will close this issue...

[2017-09-17 18:07] #36 closed

[2017-09-18 07:10] avk2 commented on #36
If I dont link it, how is supposed I make it work?

program to test --> depends on some external programs (linked)
test --> depends on program to test (linked)

[code]

[2017-09-18 09:17] meekrosoft commented on #36
The trick is to put functions that are faked in tests in separate translation units (object files) that are only linked in production.  An uglier alternative, is to use the preprocessor to `#ifdef PROD` away the function during test builds

[2017-09-23 22:21] stefanpoeter opened #37 "Feature Request for expectations"
Hi all,

imagine the following scenario:

[code]

The `method_that_calls_write` create a object on the stack that look like `send` and writes its content. After the call to `method_that_calls_write` the created object on the stack is not accesible anymore, hence, I cannot check the written data.

Is there a feature planned to make expectation to a mock object and check these expectations later on?

[2017-09-25 07:55] meekrosoft commented on #37
Hi Stefan,

I'm not sure I 100% understand what you need, but could it be solved with a custom return value delegate for `write` that captures what is passed?
https://github.com/meekrosoft/fff#custom-return-value-delegate

There is an example test that shows how it is done:
https://github.com/meekrosoft/fff/blob/4e7451acd15715c95b275ebab6e77d9eb5b9cd7b/test/test_cases.include#L215

Best,
Mike

[2017-09-25 09:54] stefanpoeter commented on #37
Hi Mike,

that could work, thanks, I'll try it later.

Greetings,
Stefan

[2017-10-08 11:09] stefanpoeter commented on #37
https://github.com/meekrosoft/fff#how-do-i-fake-a-function-that-returns-a-value-by-reference

Thats what I was looking for. Thanks for your help.

[2017-10-08 11:09] #37 closed

[2017-12-14 20:49] VincentDary commented on #31
I work with gcc on linux and cl.exe windows, the EXPAND trick work well for M$. Thank's

[2017-12-18 13:58] meekrosoft commented on #31
Thanks for the contribution!

[2017-12-18 13:58] #31 closed

[2017-12-18 18:57] #34 closed

[2017-12-18 18:57] meekrosoft commented on #34
Thanks for the clarification @gsauthof !

[2018-01-12 18:23] ZaMaZaN4iK opened #40 "Conan package"
Hello,
Do you know about [Conan](https://github.com/conan-io/conan)?
[Conan](http://docs.conan.io/en/latest/) is modern dependency manager for C++. And will be great if your library will be available via package manager for other developers.

[Here](https://github.com/bincrafters/conan-templates) you can find example, how you can create package for the library.

Also will be fine, if you will crea

[2018-01-25 17:05] 1q2w3e4rfv opened #41 "Function Overloading Support"
I have two functions with the same name but different parameters:
Set-up for multiple test-suites.

`int tri1021_set_axis_param(const StepperMotor_t*, enum T1021_AxisParameters, uint32_t);`
`int tri1021_get_axis_param(const StepperMotor_t*, enum T1021_AxisParameters);`

public header
`DECLARE_FAKE_VALUE_FUNC0(int, tri1021_set_axis_param, StepperMotor_t*, enum T1021_AxisParameters, uint32_t);`
`DEC

[2018-01-28 17:19] meekrosoft commented on #40
Hi,
Thanks for your interest.  You are most welcome to create a conan package of fff.
Best,
Mike

[2018-01-28 17:19] #40 closed

[2018-01-28 17:29] meekrosoft commented on #41
Mmmmm....
I guess that a way to do it would be to append the number of arguments to the struct name.

[2018-01-29 08:07] #13 closed

[2018-01-29 09:27] 1q2w3e4rfv commented on #41
I have a work around, I set one function to have a const StepperMotor_t*.

[2018-02-10 14:37] susundberg opened #43 "Question: Usage of __weak__"
Hi!

Love this library. I have used it several places, for example in [in this arduino testing frame](https://github.com/susundberg/arduino-simple-unittest)

I am not sure how this is thought, but i usually like to make testing so that all functions are mocked, except few special. I make this by linker; i have fake-objects that contains fake implementation of all functions and before that the real

[2018-02-13 16:27] jaydanraul opened #44 "Selective Mocking"
In c++ project is it possible to used mocked and non-mocked headers?

I have two test suites which overlap.

Test Suite 1
Mock: drivers.h
pump_calc.h
Test: pump_move.h/c

Test Suite 2:
Mock: pump_math.h
Test: pump_calc.c/h

The issue is that in suite 2 calling functions from pump_calc is calling the mocked ones.
Is it possible to call the real functions in test suite 2 but the fake ones in test su

[2018-03-06 20:09] tlawork opened #45 "old version fff to latest transition trouble due to extern "C""
I work at Cisco and we took a TDD class from James Grenning a while back and he introduced us to FFF. That was many years ago and we've been using an old version.  We need to move to the latest because of our need for the ____VARARG fakes.  However, in looking at the changes, there has been a lot of advancement since we pulled our copy - most notably there is a lot of changes regarding extern "C"

[2018-03-06 21:37] tlawork commented on #45
Here is more information. I added -E to the g++ compile and looked at the preprocessed output. Searching on getpid - I found the following is the FFF fake for getpid - and sure enough it is wrapped with extern "C" - yet I am running this on a CPP compiler and I made sure __cplusplus is set.  So why is the fake for getpid wrapped with extern C????  or is that the design that all fakes are based on

[2018-03-07 08:35] meekrosoft commented on #45
Hi Todd,
Could you send me a cut down way to reproduce so I can investigate?
Thanks,
Mike

[2018-03-07 11:40] meekrosoft commented on #33
Hi Martijn,
Sounds like an interesting use case.  Do you have an implementation in mind?  I'd love to take a look.
Cheers,
Mike

[2018-03-07 19:57] tlawork commented on #45
Sorry for the size of this - but in order to make this work for you without a lot of trouble - I precompiled, google test and the objects are left in this zip.
[ciscoduplication.tgz.zip](https://github.com/meekrosoft/fff/files/1790671/ciscoduplication.tgz.zip)

Unzip then CD to stub.
run the makefile and it should cd to _build folder and run the c++ command that fails.

[2018-03-14 07:36] meekrosoft commented on #45
Hi @tlawork - Sorry for the slow response, I'm traveling a lot these days...
Can you confirm that you can use the latest `fff.h`?  Or by different direction, do you mean you have found a different testing solution?
Thanks!

[2018-03-14 16:06] tlawork commented on #45
by using the latest fff.h I get an error because the C++ test routine (specifically gtest)  includes unistd.h as a c++ module, but FFF is faking it as a C module and the linker complains.  We are trying to fake out the function getpid() which is defined in unistd.h

By different direction - we are dropping our meson/ninja investigation and it was changing the build system that prompted this error

[2018-03-29 01:01] mayl commented on #33
I don't have an implementation in mind, but just want to chime in that I too have a use case for this.  I have several functions who's purpose is to generate a buffer on the stack and then pass that buffer to a second function.  I would like to fake the second function and test for proper content in these buffers, but as @martijnthe points out the only good way to do this currently seems to be a c

[2018-03-29 14:25] Flockstud opened #46 "Issue with functions with void pointers as arguments"
Hi,

I'm having issues trying to mock a function that has void pointers. It seems to be calculating the size of the argument to save to array, but this would probably cause an issue.
Is it possible to mock this kind of function? I guess we'd have to use a different function than memcpy()?

This is an example:
unsigned int SelfLib_Write(void *var_1, void *var_2, unsigned char b);

Typical error wit

[2018-06-04 06:54] mayl opened #50 "FFF_RESET_HISTORY() insufficient"
Calling FFF_RESET_HISTORY doesn't work well when checking the call order in sequential tests.  Since the reset only moves the index, but doesn't clear the history of calls, if two functions happen to have a similar sequence of faked calls, checking the call history in the tests can erroneously succeed even when FFF_RESET_HISTORY is called in between the test runs.  I  hit this in the context of fa

[2018-06-11 07:47] jasen-b commented on #34
well, it's only recently that microsoft produced a C99 compiler that doesn't support nested functions (prevously MSVC had been C89)

[2018-06-18 01:38] williamhuang03 opened #51 "Attempting to FFF FreeRTOS.. getting "error: use of deleted function ... ""
Hello,

I am trying to stub out some FreeRTOS API using FFF. At the moment, I am trying to stub out xTimerCreate:

`FAKE_VALUE_FUNC(TimerHandle_t, xTimerCreate, const char * const, const TickType_t, const UBaseType_t, void * const, TimerCallbackFunction_t);`

However, I am getting a compilation error:
[code]

Unfortunately, I cannot change the production code to abstract out FreeRTOS.

Any ideas h

[2018-06-18 17:41] williamhuang03 commented on #51
This was the same as https://github.com/meekrosoft/fff/issues/3

I noticed the fix was for C only, so I've compiled the file under C-only and it seems to be compiling that file with no errors.

Out of curiosity, I am wondering why is the fix C-Only? i.e. what limitations of the fix does it not translate to C++ as well?

[2018-06-22 11:37] meekrosoft commented on #51
Hi William,
Glad for the feedback.  I suppose the fix in C-only since that was what was in the pull request.  I would be happy to accept a pull request that adds C++ support :-)
Best regards,
Mike

[2018-06-22 11:37] #51 closed

[2018-06-25 12:13] meekrosoft commented on #50
Absolutely, would love a PR on this!

[2018-06-26 20:43] CanadianHoser opened #52 "Add macro to get the call count"
I'd like to add a macro into FFF which returns the call count for a mock.  This would allow the user to change calls from something like:

CHECK_EQUAL(1, function_to_mock_fake.call_count);
to
CHECK_EQUAL(1, GET_CALL_COUNT(function_to_mock));

This better masks the internals of the fff framework.

MACRO:

#define GET_CALL_COUNT(FUNCNAME) \
    FUNCNAME##_fake.call_count

[2018-07-22 17:20] cshorler opened #53 "GCC warning for variadic with no arguments"
I'm mocking several functions with declarations similar to this:

`void SCHEMAinitialize();`

using:
`FAKE_VOID_FUNC(SCHEMAinitialize)`

currently results in a compiler warning:

    /home/chorler/projects/src/stepcode/src/express/test/test_express.c:56:32: warning: ISO C99 requires at least one argument for the "..." in a variadic macro
     FAKE_VOID_FUNC(SCHEMAinitialize)

[2018-08-06 06:18] wulfgarpro opened #54 "Specifying calling convention"
There is no way to specify a function's calling convention, void or otherwise.  I'd like to fake a function that has a different convention than my project so I can't rely on the default.

[2018-08-07 03:40] ekeroc opened #55 "Fake function problem"
Hi, could I still use the original function after I faked this function in my unit test?

[2018-08-07 08:40] ekeroc commented on #36
So, that means the fake function and original function can't be called in the same object file?
In other words, if I can't call or use the original A function after I fake the A function?

[2018-08-08 01:00] meekrosoft commented on #36
Yes, you are correct.   The whole point of fff is to create a replacement function for testing a translation unit without changing the production code.

If the code you want to test calls something you want to assert on, e.g.

[code]

[2018-08-09 08:28] trombik opened #56 "document return_val is ignored when custom_fake is defined"
return_val is ignored when custom_fake is defined, but that fact is not well-documented.

suppose you are going to test `set_pin_direction()` function, which calls a fake function `read8()` that is supposed to read a value from an I2C slave. `set_pin_direction()` returns 0 when `read8()` has failed for whatever reason. you would like to test the function without slave IC.

first, fake`read8()` in

[2018-10-05 15:27] ykoehler opened #57 "How to obtain variadic function arguments past the fixed number of args?"
Given a variadic function ABC(a,b,c,...) I can retrieve arg0_val, arg1_val and arg2_val, but past that I
get no argument present.

Is there a way to capture the last arguments using something like args_val as a va_list or something like that?

[2018-10-05 17:29] rubiot commented on #57
You can by using a custom fake fuction: For instance:
[code]

In order to access the variadic parameters from your custom fake function, declare a va_list parameter. For instance, a custom fake for fprintf() could call the real fprintf() like this:

[code]

[2018-10-05 19:35] ykoehler commented on #57
Yes, I realized that afterwards, but I would prefer the other way since I could validate “after” running the function.

[2018-10-05 19:48] rubiot commented on #57
You're talking about the call history, right? The problem is the variadic arg types are not known, so there's no way to declare an array to automatically store them. But if you can predict the types you can create you're own history using the custom fake.

[2018-10-06 08:48] meekrosoft opened #58 "Help - looking for co-maintainer"
Hi,

fff started as a small scratch-your-own-itch project, and I'm really happy to see so many people getting value from it now.

It has been quite some years since I've been working in embedded, and I have to admit I am perhaps not best suited to maintaining the project going forward.  Basically I'm too busy and underqualified to make a call on many of the pull requests.

With that in mind, I'd r

[2018-10-16 19:30] CanadianHoser opened #60 "Issue faking out variadic printf"
I'm trying to fake out printf's in my production code, but any statements without arguments are printed out.  Here's an example file:

#include "CppUTest/TestHarness.h"
#include <stdio.h>
#include "fff.h"

DECLARE_FAKE_VALUE_FUNC_VARARG(int, printf, const char *, ...);

int mock_printf(const char * format, va_list arg)
{
    int result = vfprintf(stdout, format, arg);
    fprintf(stdout, "Goodbye\

[2018-11-06 22:00] cormacc commented on #60
Looks like the VAARG mock requires at least one arg. Have you tried letting the format string be the first arg -- i.e. something like this:
[code]

[2018-11-15 15:09] wulfgarpro commented on #54
See PR https://github.com/meekrosoft/fff/pull/61.

[2018-11-15 23:09] wulfgarpro commented on #58
Not sure that I'm any more 'qualified', but I'm happy to provide co maintenance.  Happy to get in contact via other channels of you'd like to discuss.

[2018-11-16 08:43] oliviera9 opened #62 "Possibility to modify custom_fake internal variables"
Hello,
imagine I would like to fake fgets (http://www.cplusplus.com/reference/cstdio/fgets/), so I declare:
FAKE_VALUE_FUNC(char *, fgets, char *, int, FILE *);

Thus, I declare a custom_fake, e.g.:
char *custom_fgets_coolmate(char *str, int n, FILE *f)
{
	char *out = "mystring1";
	strcpy(str, out);
	return out;
}
and assign it to the fake function.

Now, is there a convenient way to change the ou

[2018-11-22 09:46] meekrosoft commented on #58
Hi @wulfgarpro - fantastic, great that you are interested!
I will add you as a contributor to the project.  From here on out, you are most welcome to jump into the PR's and issues.

[2018-11-22 10:06] wulfgarpro commented on #58
Great, thanks @meekrosoft.

[2018-11-22 10:42] wulfgarpro commented on #62
@oliviera9, please see the section on [Custom Return Value Delegate Sequences]( https://github.com/meekrosoft/fff#custom-return-value-delegate-sequences).

I understand that this isn't exactly what you're asking for, but for arbitrary changes to your `out` variable, you should use language features, e.g.

[code]

[2018-11-22 10:44] #62 closed

[2018-11-22 10:45] oliviera9 commented on #62
Thanks to you reply @wulfgarpro. This is quite similar to the solution I adopted (I just put custom fakes in a static class, and modify directly public static members which are accessed by custom fakes).

[2018-11-23 02:16] wulfgarpro commented on #60
@CanadianHoser, have you attempted @cormacc's suggestion?

[2018-11-23 09:12] wulfgarpro commented on #54
PR was merged, closing.

[2018-11-23 09:12] #54 closed

[2018-11-23 09:17] wulfgarpro commented on #55
@ekeroc, as mentioned, use the language features.  Keep a function pointer and store the original function before assigning the custom delegate.

Feel free to ask for more information or, if you've found a solution, post an example.

[2018-11-23 09:17] #55 closed

[2018-11-23 09:32] wulfgarpro commented on #36
Response #55.

[2018-11-23 10:05] wulfgarpro commented on #46
@Flockstud this example works for me without a hitch:

[code]

Are you still having a problem?

[2018-11-23 10:15] wulfgarpro commented on #53
@cshorler, have you tried the latest FFF?  This example works without a problem for me:

[code]

My compiler on LSW:
[code]

[2018-11-24 13:02] cshorler commented on #53
I think this is explained by a difference in compiler switches (note the warning is for ISO C) - using
```$ gcc -pedantic -std=c11 -o ftest test.c```
I still see this warning

[code]

[2018-11-25 04:30] #46 closed

[2018-11-25 05:17] wulfgarpro opened #65 "AppVeyor not running gtests for MSVC projects"
AppVeyor CI, added for the MSVC test projects, is building but not running the actual tests.

This should be fixed ASAP.

[2018-11-25 05:18] wulfgarpro commented on #65
@meekrosoft, I've assigned this to you since it doesn't look like we have an source configuration and I therefore can't change any behaviors.

[2018-11-25 08:39] wulfgarpro commented on #53
@cshorler, thank you for the followup.  I didn't notice you were trying to compile standard, sorry for the confusion.

I would expect the warning applies to the nested macro:
[code]

In this case, there are no varargs for the 0'th void fake, and therefore this warning applies.

Here is a reduced example:
[code]

AFAICT, this isn't a bug, but a limitation in FFF's generic approach, and as you know:

[2018-11-25 12:43] cshorler commented on #53
No probs - this is basically what I expected after taking a cursory look at FFF code, perhaps the bug title should include ISO C.

If this approach exists for MSVC & LLVM as well - it could be interesting to see if the it's possible to apply in the fff.h
https://stackoverflow.com/a/43974887/1162349

The other answer -isystem / GCC system pragma (for the link above), I'm not so sure - need to test

[2018-11-26 13:40] Flockstud commented on #46
Hi wulfgarpro!

Thanks for your reply, sorry for long wait, a lot has happened.
It looks like that would work!
Thanks and i hope to get it back working!

Best Regards,

Joel

[2018-11-28 09:13] wulfgarpro commented on #60
Looks like the generator for the VARARG fakes, only generates N=2-20:
[code]

We could probably manage N=1-20 for these kinds of situtations:
[code]

I'll see if I can put together a patch over the next couple of days.

[2018-11-28 18:07] CanadianHoser commented on #60
The suggestion by @cormacc won't work because it doesn't match the vfprintf prototype:

printf_test.cpp:12:38: error: too few arguments to function ‘int vfprintf(FILE*, const char*, __gnuc_va_list)’
     int result = vfprintf(stdout, arg);

[2018-11-28 18:40] CanadianHoser commented on #60
I do think there's something to our system implementation.  The code listed above does perform as expected (Tests 1 and 2 are suppressed, 3 & 4 are displayed) when compiled standalone, but the same code integrated into our much larger code base (which overrides printf elsewhere) behaves as indicated above.  I did try putting put the mock_printf() implementation into a separate .c file to confirm i

[2018-11-28 21:59] wulfgarpro commented on #60
@CanadianHoser, it looks like the generator for VARARG fakes, only generates N=2-20:
[code]

We could probably manage N=1 for these kinds of situtations:
[code]

I'll see if I can put together a patch over the next couple of days.

[2018-12-05 11:08] wulfgarpro commented on #43
Closing this issue ticket in favour of reviewing and closing PR #47.

[2018-12-05 11:08] #43 closed

[2018-12-05 21:33] wulfgarpro opened #68 "fff needs code coverage"
With the ever increasing PRs and additional features, fff could do with some code coverage statistics.

This is a perfect write up on gcov for TravisCI and OpenCppCoverage for AppVeyor.

https://codingnest.com/how-to-get-code-coverage-from-ci/

[2018-12-06 05:31] meekrosoft commented on #68
Sounds like a great idea....although I wonder how good the coverage data will be?  If we don't use a pre-processor macro it's code definition will not end up in a translation unit.  So maybe we need to force instantiate the macros somehow?

[2018-12-06 05:43] wulfgarpro commented on #68
Isn't that what the tests do?

On Thu., 6 Dec. 2018, 4:31 pm Mike Long <notifications@github.com wrote:

[2018-12-11 21:48] wulfgarpro commented on #68
Yes, you're correct.  The pre-processor gets in the way of coverage testing... but, here are some interesting stats from just running gcov on fff_test_c:

[code]

[2018-12-11 21:50] wulfgarpro commented on #68
Yes, you're correct.  The preprocessor gets in the way of coverage testing.  I'll need to rethink this.

[2018-12-12 08:08] meekrosoft commented on #68
Might still be useful to ensure the tests actually get run though?

[2018-12-14 09:43] wulfgarpro commented on #45
@tlawork please try the latest version of fff.  A lot of the C extern mess has been removed.   I managed to fake `getpid` like so:

#include <unistd.h>
#include <stdio.h>
#include <assert.h>

#include "fff.h"

DEFINE_FFF_GLOBALS;
FAKE_VALUE_FUNC(pid_t, getpid);

pid_t custom_getpid()
{
    return 0xdeadbeef;
}

int main(void) {
    getpid_fake.custom_fake = custom_getpid;
    pid_t pid = getpid();

[2018-12-14 09:43] #45 closed

[2018-12-17 09:07] davix opened #69 "FUNCNAME##_reset() conflicts with existing functions"
**Describe the bug**
I have two functions: foobar_testcli() and foobar_testcli_reset() in my foobar.h

fff will generate below fake functions:
50 DECLARE_FAKE_VALUE_FUNC3(int, foobar_testcli, foo_info_t*, int, int);
 52 DECLARE_FAKE_VOID_FUNC1(foobar_testcli_reset, foo_info_t*);

But DECLARE_FAKE_VALUE_FUNC3() internally has a FUNCNAME##_reset() that conflicts with my existing foobar_reset().

Am

[2018-12-18 11:05] meekrosoft commented on #69
Hi @davix,

Yes, this is unfortunate.  We should prefix internal fff functions with `fff_` or something similar to put our functions in a namespace of sorts.

I think we can fix this pretty easily.  Watch this space.

[2018-12-20 07:12] davix commented on #69
Thank you @meekrosoft. Any workaround in this case?

[2019-01-14 08:55] nitishsprabhu opened #70 "Limit scope of mock functions to file"
Limiting functions to file scope can help selectively use the mock implementation or the actual implementation in _certain_ cases.

For example:
The module under test is mod.c and its dependency is libdep.so. I can have test cases in 2 files, test_file1.c and test_file2.c.
In test_file1.c, I would like to use the mock functions, thus declare and define them statically in the same file. As the depe

[2019-01-14 12:42] nitishsprabhu commented on #70
This approach will most likely not compile. Tried it out with some sample functions.

The 'dependency_function()' mock was declared static with file scope, but the original implementation was not. GCC throws the error "static declaration of dependency_function() follows non-static declaration".

[2019-01-14 12:42] #70 closed

[2019-01-14 21:07] wulfgarpro commented on #70
Thanks for the idea/ticket.

When compared with the full mocking solutions of high(er) level languages,
the preprocessor is always quite limited.

On Mon., 14 Jan. 2019, 11:42 pm Nitish S Prabhu <notifications@github.com
wrote:

[2019-01-21 18:12] charterchap commented on #62
This will allow you to make a bunch of lambda functions within your test case. You still have to have a bunch of duplicate functions but I think it will help keep things organized. The static class idea sounds like a good way to go as well. https://gist.github.com/charterchap/3113980f7ddd8c0915609492c5323ca6#file-fff_by_reference-cpp

[2019-01-29 16:45] srl100 opened #71 "Add feature to show arguments used in calls to faked functions"
I thought that it would be useful if we could see what arguments are used in calls to the faked
functions.

As per the attached patch, if FFF_TRACE is defined before fff.h is included then calls to faked functions are traced along with the argument values used in the calls.

[patch.txt](https://github.com/meekrosoft/fff/files/2808662/patch.txt)

[2019-02-07 15:51] tk8b opened #72 "Const pointer as argument causes _Wcast-qual warnings"
When using the fake function framework to mock a function that takes a const pointer as Argument, e.g.

`FAKE_VOID_FUNC(my_function, int *const)`

I get four compiler warnings:

`fff.h:66:12: warning: cast discards ‘const’ qualifier from pointer target type [-Wcast-qual]
     memcpy((void*)&FUNCNAME##_fake.arg##n##_val, (void*)&arg##n, sizeof(arg##n));`

`fff.h:66:50: warning: cast discards ‘const

[2019-02-13 09:57] wulfgarpro commented on #68
@meekrosoft, I had a little look at this just now, a cursory idea, haven't thought hard enough about reasons this might not be useful:

[code]

With this method, we could calculate an average across all test files and use it as a heuristic.

[2019-02-16 03:31] wulfgarpro commented on #68
Yes, the above method doesn't work given the preprocessed c file, e.g. `test/fff_test_c.c` includes all of `fff.h`.

Another approach that I'd like to test some more:
[code]

[2019-02-25 10:23] meekrosoft commented on #68
Mmm, interesting approach....

[2019-03-01 11:38] ZaneV opened #73 "error: overloaded function with no contextual type information"
When trying to run make on a unit test using fff.h to fake a function **initSerialCommDevice** i get the following error:
[code]
my test file is as follows (initSerialCommDevice is prototyped in _hal_serial.h):
`
#include <stdint.h>
#include "../../app/drivers/rockair.h"
#include "../../app/peripherals/_hal_serial.h"
#include <gtest/gtest.h>
#include "fff.h"

DEFINE_FFF_GLOBALS;

FAKE_VALUE_FUNC(i

[2019-03-01 23:19] ZaneV commented on #73
I have fixed my issue... very basic rookie mistake! This issue can be closed. FYI, an argument in the prototype was supposed to be a uint8_t and I had an int.

[2019-03-23 16:25] RonAmihai opened #74 "Disable fakes between test suits (use original functions when needed)"
Let's say I've 2 units (header & source) under the same C module - A (which is independent) and B (which is dependent on unit A's functions).

I want to write unit tests for both unit A and unit B.
In order to unit test unit B under it's own test suite, I need to define fakes for unit A's functions - but then I cannot use unit A's original functions in unit A's test suit...

Is there any way I can

[2019-05-09 02:29] ykoehler opened #75 "Using FAKE_VOID_FUNC on vsyslog cause a sizeof-array-argument error"
**Describe the bug**
FAKE_VALUE_FUNC(vsyslog, int, const char*, va_list);

is causing a sizeof of va_list which gcc turns into an error and therefore trigger the error sizeof-array-argument

**To Reproduce**
Compile the above

**Expected behavior**
detect array type and not call sizeof on them?

**Screenshots**
In file included from /home/ykoehler/fake_log.cpp:18:
/home/ykoehler/fake_log.cpp: In f

[2019-06-18 21:54] nrbrook opened #76 "gtest conflicting"
**Describe the bug**
Because gtest is embedded in the root of the respository under the gtest directory, if this repository is included in a unit testing `CMakeLists.txt` using `include_directories`, and googletest is also used in the same project then `#include "gtest/gtest.h"` could include either header. As the gtest.h in this project is very old, this causes problems.

**To Reproduce**
Steps t

[2019-07-03 12:33] meekrosoft commented on #76
Yes, I can see this could cause a problem.  What do you suggest we do to solve this?

[2019-07-03 12:36] nrbrook commented on #76
The simple solution would be just to rename the directory, perhaps to `lib/gtest`. In my projects I use CMake which can download googletest during configuration. Alternatively googletest could be added as a git submodule. As the googletest used here is quite old there may be compatibility issues when updating.

[2019-08-28 22:10] icicle167 opened #78 "Version Information for FFF"
Hello,

How do you know which version of FFF you are running? We are using FFF and trying to track our configurations...any support? I've done some extensive "grepping" and I haven't come up with anything

[2019-08-29 09:03] meekrosoft commented on #78
Hi @icicle167

Good question!  Unfortunately we don't bake the version into fff.h - but I think it is a good idea.  I'd be happy to accept a pull request on this.

Cheers,
Mike

[2019-08-29 18:14] thomasfinchbr opened #79 "Const pointer to const generates a wrong mock"
I'm using ceedling and fff framework.

When generating mock for functions like the one below there some errors.
Function to generate mock for:
void test(const void * const test_t);
Generated mock:
DECLARE_FAKE_VALUE_FUNC1(void, const const void*);
It should be:
DECLARE_FAKE_VALUE_FUNC1(void, const void* const);

This error generated warnings like this one, when using IAR compiler Arm 8.32.1:
Warni

[2019-09-17 18:21] CanadianHoser opened #80 "Add a mechanism to ignore a fake in call history."
**Is your feature request related to a problem? Please describe.**
Mocking a large function, with a nested loop of calls to a faked out function, I've surpassed the call-history length.  As a result, I can't check the call history for some of the latter functions.

**Describe the solution you'd like**
I'd like to be able to specify fff ignore certain functions in the call history log.

**Describe

[2019-09-23 10:57] thomasfinchbr commented on #79
This issue was related do fff plugin for ceedling and to fff itself.

[2019-09-23 10:57] #79 closed

[2019-09-23 11:01] thomasfinchbr commented on #74
Hi, were able to solve this issue?
I came across the same situation...
Thanks.

[2019-09-23 20:15] NINI1988 commented on #74
I use my makefile to build two test applications. One where A is real and everything else is mocked. And the second where B is real and everything else is mocked.

[2019-09-25 15:59] thomasfinchbr commented on #74
Thanks for your answer.
I will use the same approach. It solves the issue.

[2019-09-30 07:13] meekrosoft commented on #79
Thanks for updating the issue!

[2019-10-26 13:57] SerjKh opened #81 "Unreachable return statements in commit 7e09f07e"
**Describe the bug**
Unreachable return statements where introduced in commit 7e09f07e5b262b1cc826189dc5057379e40ce886.

**To Reproduce**
Steps to reproduce the behavior:
Goto fff.h, line 1657
See return statement which is unreachable, since the existence of return statement one line above.
This is only the example the same issue is copy pasted to multiple places where DEFINE_FAKE_VALUE_FUNCX is d

[2019-10-26 15:51] NINI1988 commented on #44
See https://github.com/meekrosoft/fff/issues/74#issuecomment-534265551. Maybe that helps?

[2020-02-13 10:40] raghuiisc opened #83 "Getting Error error: overloaded function with no contextual type information"
I am Trying to fake the below function using FFF and getting below compilation issue.

int redisClusterAsyncFormattedCommand(redisClusterAsyncContext *acc, redisClusterCallbackFn *fn, void *privdata, char *cmd, int len);

typedef void (redisClusterCallbackFn)(struct redisClusterAsyncContext*, void*, void*);

I have defined as below:
FAKE_VALUE_FUNC(int, redisClusterAsyncFormattedCommand, redisClus

[2020-02-14 03:55] raghuiisc commented on #83
My Bad

in library function there was some comma deleted which caused this issue.

 #define DEFINE_FAKE_VALUE_FUNC5(RETURN_TYPE, FUNCNAME, ARG0_TYPE, ARG1_TYPE, ARG2_TYPE, ARG3_TYPE, ARG4_TYPE) \
     FUNCNAME##_Fake FUNCNAME##_fake; \
-    RETURN_TYPE FFF_GCC_FUNCTION_ATTRIBUTES FUNCNAME(ARG0_TYPE arg0, ARG1_TYPE arg1 ARG2_TYPE arg2, ARG3_TYPE arg3, ARG4_TYPE arg4){ \
+    RETURN_TYPE FFF_GCC_FUN

[2020-02-14 03:55] #83 closed

[2020-02-20 10:49] singh-arulraj opened #84 "Mocking System functions in gtest"
Hi, I am required to mock calloc function in gtest framework(c++ test code).
Please let me know if I am doing anything wrong.

My Code
`
#include "fff.h"

extern "C" {
    DEFINE_FFF_GLOBALS;
    //FAKE_VALUE_FUNC(void *, calloc, size_t, size_t);
    FAKE_VALUE_FUNC(void *, malloc, size_t);

}
`

I get the following errors

`
X86/staging_dir/include/fff.h:1679:68: error: declaration of ‘void* mall

[2020-03-06 10:13] acazzaniga commented on #7
Hi there,
I know this has been discussed long time ago. We are facing the same issue described here, but since it is related to static inline function in vendor code's header we would like to know whether it is possible to put in place a solution similar to what has been done for Cmock (https://github.com/ThrowTheSwitch/CMock/pull/261).

Thanks a lot.
Best regards,
Andrea

[2020-03-08 12:42] jwgrenning opened #87 "Allow $MAX_ARGS to be set on fakegen command line"
**Is your feature request related to a problem? Please describe.**
I don't think so.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Editing fakegen.sh with sed

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-03-26 13:09] ballenthin commented on #75
I run into the same issues, is there already a work-a-round available?

[2020-04-17 05:35] thekenu opened #88 "When is it necessary to guard FFF macros with extern C?"
I am using `fff` to mock inputs to these embedded C functions and using `gtest` (C++ framework) to run test suites.  Naturally, the embedded C code must be imported into `gtest` files using `extern C`. Is it ALSO necessary to guard things like `DECLARE_FAKE_VOID_FUNC` with `extern C` in this case? The project seems to compile either way so I'm curious if there's a best practice.

[2020-05-16 13:58] corentinmusard opened #90 "warning: extra ‘;’ [-Wpedantic]"
On gcc and clang, there is this warning when you put a ';' at then end of each macro when compiling with `-pedantic`.

[code]

[2020-06-04 18:24] darrylpinto opened #91 "FFF Errors out with array parameters"
**Describe the bug**
Hi, I recently started using FFF and it has worked wonders for me.
While faking a function with array parameters I noticed a bug. In the following code, I am trying to fake test123() that is being used in test456().
test123() has an array parameter
[code]

Here is the FAKE_VALUE_FUNC macro for test123 and the testcase:
[code]

On running, this is what I am getting:
[code]

I c

[2020-06-04 22:25] NINI1988 commented on #91
The test works correctly: test456() has not been called, so test123() has not been called before checking the call_count.

[2020-06-05 11:26] meekrosoft commented on #91
Can we close this?

[2020-06-05 17:16] darrylpinto commented on #91
Thank you so much for pointing that out. So the correct way of using FFF with array parameters would be to use the pointer representation instead, right?

[2020-06-08 18:19] #91 closed

[2020-06-10 08:45] tastymushroom commented on #75
Same here.
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

Did anyone come up with a solution yet? Thanks.

[2020-07-28 07:45] Lizhangz opened #92 "Suggestion about improving idea: dump the call history at the tear down of each test fixture"
Hi,
I just begin to use your code, and I think maybe you like my improve idea: dump the call history at the tear down of test fixture.
Here is some example
============
Call 0: xosc_start
Call 1: calib_64k
......
============
In this way, the tester have a better view of what happened during the testing.
I have some code for the purpose already. And I am thinking about dump the parameter and retur

[2020-09-09 08:58] acazzaniga commented on #90
any update on this?

[2020-10-21 22:54] r7vme commented on #84
@singh-arulraj linker-based wrapping this is what I use

[code]

[code]

[2020-11-12 20:43] g-berthiaume opened #93 "Bump to v1.1?"
`v1.0` was released almost 2 years ago.
Some changes were made to the code 15 months ago.
Is FFF stable enough to be released and tagged as `v1.1`?

This would facilitate using the most up-to-date version of FFF in our projects.

[2020-11-20 15:59] samgalactic opened #94 "Unable to reuse fakes across multiple test modules"
I am trying to create Fakes for unit tests in an embedded C project. I can create a single unit test module which will work well, but there are some functions calls which are common to multiple modules which need to be faked in multiple test modules, and this is causing problems.

For example, I have a Fake function defined as:

FAKE_VOID_FUNC(TraceAssert_Report, uint8_t, uint32_t);

which appears

[2020-11-21 01:51] Lizhangz commented on #94
If you need common behavior, you can just define it in a common c file.
If you need different behavior for different cases, you should use the custom_fake or SET_RETURN_SEQ.

[2020-11-23 12:02] samgalactic commented on #94
I now have a common .h file where I have the DECLARE_FAKE_   and I have done as you suggested and used a common .cpp file when I have put the DEFINE_FAKE_ .

There is a problem with this however. If you attempt te

[2020-11-23 12:02] #94 closed

[2020-12-01 07:13] meekrosoft commented on #93
Done!

[2020-12-01 07:13] #93 closed

[2020-12-02 00:45] g-berthiaume commented on #93
Thanks !

[2021-01-04 19:18] CallistorrB opened #96 "MVSC linking error multiple modules - How do I reuse a fake across multiple test-suites?"
Hi,

Is there any solution for using multiple modules across multiple test-suites for MVSC?
I'm getting linking error with MVSC linker, with clang I use ((weak)).
Is there any equivalent for ((weak)) while linking with MVSC linker?
I'm using Clang 7.0 and MVSC 14.16 linker(link.exe).

fake.h
DECLARE_FAKE_VALUE_FUNC3(int, seek, int, long, int);
fake.c
DEFINE_FAKE_VALUE_FUNC3(int, seek, int, long, i

[2021-02-11 12:44] m0rtalis commented on #90
Then don't do it?

[2021-02-16 05:32] cakira opened #97 "Alternating fff with real functions to access the hardware"
Hi!
I'm still a newbie in unit tests, so I'm sorry if I have a wrong concept here.

I'm working in an embedded system and I designed a unity test for a module that transfers data from an incoming queue to a Flash memory and from the Flash memory to an outgoing queue. In this unity test I'm using fff to mock the Flash memory functions. One test is more or less like this:
[code]
But now I would like

[2021-02-16 08:49] NINI1988 commented on #97
What I do is to run unit test for eg. the queue on my pc and create another application to test only the flash on the hardware. When both tests are well written the queue and the flash will work together on the hardware.

[2021-02-18 03:30] cakira commented on #97
Now that you say it, it makes perfect sense.
I'll do that way too.

Thank you very much, @NINI1988 !

[2021-02-18 03:30] #97 closed

[2021-04-14 12:15] rubiot commented on #60
It seems you're just declaring the mock, but not defining it. You either have to use `FAKE_VALUE_FUNC_VARARG`, which directly defines your mock function, or use the pair `DEFINE_FAKE_VALUE_FUNC_VARARG`/`DECLARE_FAKE_VALUE_FUNC_VARARG` if you want to split the declaration/definition.

[2021-06-22 18:58] cakira opened #99 "Use of fff to mock c++ class member functions"
Is there anyone using fff to mock class member functions?

I'm running unit tests in a code for the Arduino framework, which use C++ objects.
In order to make to code compile, right now I declared some stubs, for instance:

File test_ble_manager.cpp
[code]

But I would like to do something like:
File test_ble_manager.cpp (this is an untested code)
[code]
So I could use `BLECharacCB_onWrite_fake.ca

[2021-06-22 23:21] cakira commented on #96
I don't use MSVC, but could this link be useful?

https://stackoverflow.com/a/11529277/1669975

[2021-07-09 22:29] fgr-17 commented on #99
hey man. gMock has two major drawbacks:
- it has no support for single functions (outside a class)
- it requires member class to be declared as virtuals.

The second can be workarounded somehow, but the first is a big issue.

[2021-07-09 22:38] fgr-17 opened #100 "fatal error: 'tr1/tuple' file not found"
**Describe the bug**
I can't compile the code on macOS Big Sur. It shows the following error:
- fatal error: 'tr1/tuple' file not found

**To Reproduce**
On macOS bigSur, after including <fff.h>, the compiler shows the following error:

fatal error: 'tr1/tuple' file not found

**Expected behavior**
flawless compilation

**Compiler, toolset, platform (please complete the following information):**

[2021-07-14 19:25] cakira commented on #99
Gracias, @fgr-17 . So gMock isn't a good option to my projects.

As a proof of concept, I put the following macros in one of my C++ file:
[code]

And they worked as intended in my code, because I could use:
[code]

Instead of:
[code]

**Limitation:**
It didn't work to mock up `void BLEDevice::init(std::string deviceName)` because when I tried to call `FAKE_VOID_FUNC(BLEDevice__init, std::string)`,

[2021-07-30 19:10] cakira commented on #100
Hi @fgr-17 !

I searched for occurrences of "tuple" in the code and I could only find then in the file gtest/gtest.h. In the file fff.h there are no occurrences of tuple and neither of gtest.
Maybe your compiler is trying to everything in fff?

[2021-09-15 20:40] jackdigitalinsight opened #101 "SET_RETURN_SEQ should reset return_val_seq_idx"
**Describe the bug**
Within one test case, I want to modify a fake's return value sequence. SET_RETURN_SEQ updates the sequence and length, but doesn't reset the next index.

**To Reproduce**
example:
[code]

**Expected behavior**
second protocol_update() calls to hal_uart_rx(fake) should see 3, 4, 5, 6, -1. Instead it gets 6, -1.

**Compiler, toolset, platform (please complete the following infor

[2021-09-16 13:56] eaibmz commented on #76
This is how i solved this in my CMake file:

[code]

[2021-10-13 13:28] jordiae opened #103 "Can FFF be used to generate the actual fake implementation?"
Hi, many thanks for your work. I'm trying to understand the usage and scope of this library. Can it be used to generate the actual fake definition? Say I have `int f();`, can I automatically generate say `int f() { return 3;})` with FFF? Must the TEST_F() functions in the README of this repo have to be implemented by the user? Thanks!

[2021-11-04 10:14] AVGitUser opened #104 "Argument history storing derefenced pointers"
Hi,

FFF is great. Would anyone else see benefit for storing the value/struct that was provided to a fake function through a pointer, rather than just the pointer?

Example:

code_to_test.c

for(i=0; i<NUM; i++)
{
    GpioDefStructure gpio_defs;
    gpio_defs.pin = i;
    HAL_GPIO_Init(&gpio_defs);
}

In this example I have to use HAL_GPIO_Init and cannot change it.

I want to test that it is exec

[2021-11-04 10:22] AVGitUser commented on #104
Duplicates https://github.com/meekrosoft/fff/issues/33

[2021-11-04 10:22] #104 closed

[2021-11-06 14:43] AravindGopala commented on #60
@rubiot
I am having a similar issue with fprintf mocking, In the below cide I tried to mock the fprintf from the standard library, unless I provided at least two parameters in the varArg list, the mocked fprintf is not being called, So the SampleTestPass will successfully call the mock fprintf function but the SampleTestFAIL will never call the mock function instead it calls the fprintf from the s

[2021-11-10 12:50] KasperZK commented on #55
@wulfgarpro could you elaborate please? I am having the same issue. I am trying to fake functionA, which lives in .h file which I have included in my .cpp unit test file. I am trying to fake the function with FAKE_VALUE_FUNC(bool, functionA); but I get the errors "one or more multiply defined symbols found" and "funcationA already defined in .h". What can I do?

Thanks

[2021-11-10 12:56] wulfgarpro commented on #55
@KasperZK can you provide a cut down example?

[2021-11-10 12:59] KasperZK commented on #55
@wulfgarpro
sure

`
#include "pch.h"
#include "CppUnitTest.h"
#include "..\fff.h"

extern "C"
{
	#include "ioDigitalInput.h"
}

DEFINE_FFF_GLOBALS;

FAKE_VALUE_FUNC(bool, ioFunc);

using namespace Microsoft::VisualStudio::CppUnitTestFramework;

namespace UnitTestfff
{
	TEST_CLASS(UnitTestfff)
	{
	public:

		TEST_METHOD(TestMethod1)
		{

		}
	};
}
`
ioFunc is implemented in ioDigitalInput.c

[2021-11-11 12:36] KasperZK commented on #55
It should probably also be said that I am building the production code from another project within the same solution as the test project is placed in VS2019. The library files from the production code are then used in the test project.

[2021-11-12 08:05] nradulovic commented on #90
Then don't do it is not a solution. Macros should be implemented in such a way that when they are used in an expression they are always terminated with ";"

[2021-11-12 08:19] nradulovic opened #105 "warning: ISO C99 requires at least one argument for the "..." in a variadic macro"
GCC will generate the above warning in the following case.

**To Reproduce**
1. Define a fake function with return value and no arguments: `FAKE_VALUE_FUNC(int, some_function)`
2. Compile the test with GCC with the following flags: -std=c11 -Wall -Wextra -pedantic

**Expected behavior**
Compilation without warnings

**Compiler, toolset, platform (please complete the following information):**
- too

[2021-11-12 08:22] nradulovic commented on #105
See PR #95 for the same issue.

[2021-11-22 07:06] KasperZK opened #106 "Is it possible to mock static functions?"
I presented the framework to my team and it raised some questions:

Can you mock static functions with this framework? For example would it be possible to mock and test a static function that is both defined and declared in the .c file that is to be tested? Do we even want to do this ever or should private functions only be accessed through public functions?

Thanks

[2021-11-22 08:41] nradulovic commented on #106
Hi, you can only mock functions which are defined outside of tested implementation unit (.c).

In my projects I treat static functions as part of tested function so I don't need to mock it. When I get into the situation that I need to mock a static function, then that is a sign to me that I need to re-think about architecture of the code and ask some questions to myself.

[2022-02-05 19:48] ztnel commented on #76
+1 to this

[2022-02-28 00:08] alexsconway opened #107 "#pragma pack(1) breaks Function Return Value Sequences"
**Describe the bug**
I'm using Ceedling with Unity and FFF to unit test some embedded code.
To make some things work I need to specify #pragma pack(1) for some structures.
I was trying to mock a sequence of return values for a function and the results were not as expected.
Some hours later I have trimmed it down to a minimal reproduction case:

**To Reproduce**
make sure you have Ceedling and FFF

[2022-03-02 10:17] SevHub opened #108 "How to install and to use?"
Hello,

the Readme does not give any clue on how to add this to a project...
Is the fff.h already sufficient? What is the purpose of the gtest folder? Does it replace the normal gtest library?
What is the ruby script for? Do I need to run it once when I add the files to my project or every time I add some tests?

[2022-06-20 06:27] Darwin-Li-001 commented on #74
can you please tell me how you fixed this?
I laways get this problem:
overloaded function with no contextual type information
 FAKE_VOID_FUNC(pendingResetNodesByPowerOff, uint8_t);

[2022-06-20 17:56] samthode commented on #107
Thanks for posting this. Just spent 5 hours debugging a non sensical issue. Turns out it was b/c pragma pack

[2022-07-12 17:05] yperess opened #110 "Allow support for std::function as the `custom_fake` type"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use capture groups when assigning a custom fake, but this isn't possible when the custom fake type is a function pointer. Having the ability to override that using a config option would allow me to replace things like:

[code]

with

[code]

**Describe the solution you'd like**
Allow applications to define a

[2022-07-29 12:13] BillDenton commented on #33
Any updates? I have:

1. Functions that take pointers where the structure that it points to needs to be stored for checking later. I can do this via a custom fake. I declare a fake with pointer parameters changed to the structure. Then I can that from a fake function. Easy to do but would be better if there was a way of doing this.
2. Functions that references. I use the similar approach. Obviousl

[2022-09-07 07:37] ivankvolik commented on #108
I'd like to know this as well :)

[2022-09-08 11:48] ivankvolik commented on #108
@SevHub I managed to get the examples running.

ruby script is for actual generation of the code. Without Ruby you won't be able to generate the fakes.

[2022-09-08 12:01] ivankvolik opened #117 "Linking issue in the example project"
Hello people,

I've tried expanding the example project to play a bit with it, but i am getting a linking error, which i am not able to solve.

What have i added?

In the `hardware_abstraction.h` I've added the function declaration with this signature:
`uint8_t IO_READ_CHARS(uint8_t* chars_array, uint8_t number_of_chars);`

In driver.c I've added following function:
[code]
In driver.test.fff.cpp a

[2022-09-08 12:42] ivankvolik commented on #117
UPDATE: When I comment this line in `testonia` function, the linking passes and everything is executed. So I might have screwed something up in naming, or forgot to link the function somewhere.

`    sumReturn = IO_READ_CHARS(buffer, HARDWARE_REV_A);`

[2022-09-19 14:29] alukichev commented on #75
Looks like it's hard to find info on mocking functions that take array arguments. `typedef` array to a user type for them results precisely in the reported error.

[2022-09-30 00:41] rdlaner commented on #33
+1 to this. Having to create a custom fake just to copy out the value pointed to by a pointer argument is not ideal. It'd be really great if the arg history contained copies of the dereferenced pointer args.

[2022-10-02 15:42] #110 closed

[2022-11-13 02:59] Darwin-Li-001 opened #118 "fake.callcount is always 0 when reuse a fake across multiple test-suites"
**Describe the bug**
A clear and concise description of what the bug is.
When reuse a fake across multiple test-suites, Functions with parameters faked as the instruction described, but the callcount is always 0, however the functions without parameters callcount is normal.
**To Reproduce**
Steps to reproduce the behavior:
1.Fake a function with parameters as instruction described, with DECLARE_FA

[2022-11-16 06:46] Darwin-Li-001 commented on #118
The problem is still nobody support now.

[2022-11-17 01:53] Darwin-Li-001 commented on #118
@meekrosoft @michahoiting @zrax @wulfgarpro   Anybody here can help this? This is urgent.  Thanks!